# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.txt
.vs/DSO_PL_SIM_W/v14/.suo
*.ilk
Debug/DSO_PL_SIM_W.exe
*.sln
DSO_PL_SIM_W.VC.db
*.tlog
*.log
DSO_PL_SIM_W/Debug/Simulation.obj
*.idb
*.pdb
DSO_PL_SIM_W/DSO_PL_SIM_W.vcxproj
DSO_PL_SIM_W/DSO_PL_SIM_W.vcxproj.filters
